
<div id="panelRegion" class="listTitles"></div><!--content title   compaseView-->
<div id="scrollWrapper" class="contentList">
<div class="wrapper">
    <div id="pullDown">
        <span class="pullDownIcon" style="display: none"></span><span class="pullDownLabel" style="display: none">下拉刷新...</span>
        <div id="sort-entity-name-asc" class="pullSortName">按名称排序</div>
        <div id="sort-create-time-des" class="pullSortTime">按时间排序</div>
    </div>
    <div id="listRegion" style="width: 100%;"></div>
    <div id="pullUp" style="display: none;">
        <span class="pullUpIcon"></span><span class="pullUpLabel">加载更多...</span>
    </div>
</div>
</div>
<!--content view list 以后可能要用iscroll滚动  -->


