<div class="dropdown titleL">
    <a id="narBackFolder" class="filterD"></a><!--<a data-toggle="dropdown" class="filterD"></a>-->
    <ul id="dropMenus" class="dropdown-menu js-dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li id="sort-entity-name-asc" role="presentation">
            <a class="glyphicon glyphicon-sort-by-alphabet-alt" role="menuitem" tabindex="-1"> 按名称正序排列</a>
        </li>
        <li id="sort-entity-name-des" role="presentation" style="display: none;">
            <a class="glyphicon glyphicon-sort-by-alphabet" role="menuitem" tabindex="-1"> 按名称降序排列</a>
        </li>
        <li id="sort-create-time-asc" role="presentation"  style="display: none;">
            <a class="glyphicon glyphicon-sort-by-order" role="menuitem" tabindex="-1"> 按上传日期降序排列</a>
        </li>
        <li id="sort-create-time-des" role="presentation">
            <a class="glyphicon glyphicon-sort-by-order-alt" role="menuitem" tabindex="-1"> 按上传日期排列</a>
        </li>
    </ul>
</div>
<div class="contenLeftPanel">
    <div class="panelAllFile">
        <a id="folderNameTitle" class="allFile">所有内容</a>
    </div>
</div>
