<a id="dropselected" data-toggle="dropdown"  class="dropdown-toggle allFile selected" aria-haspopup="true" aria-expanded="false">已选择1个</a>
<ul class="dropdown-menu popCenter" role="menu" aria-labelledby="dropselected">
    <ul>
        <li role="presentation" id="selectAll">
            <a class="glyphicon glyphicon-ok" role="menuitem" tabindex="-1"> 选择全部</a>
        </li>
        <li role="presentation" id="cancelSelect">
            <a class="glyphicon glyphicon-remove" role="menuitem" tabindex="-1"> 取消选择</a>
        </li>
    </ul>
</ul>


