<div class="navbar move_to_header_bar fixedbar">
    <div id="backToWorkspace" class="back_workspace"></div>
    <div id="transferList" class="move_to_title"></div>
    <div class="create_new_document noimg"></div>
</div>
<div id="pullDown" class="loading">
    <span class="pullDownIcon" style="display: none"></span><span class="pullDownLabel" style="display: none">加载中...</span>
    <div id="uploadList" class="pullSortName actived">上传列表</div>
    <div id="downloadList" class="pullSortTime">下载列表</div>
</div>