<div class="titleL">
    <a id="narBack" class="narback"></a>
</div>
<div class="titleR">
    <div class="input-group span7 searchFile">
        <input type="text" id="seaVal" class="js-searchInputField" placeholder="搜索百灵中我的内容" />
                <span class="input-group-btn">
                  <div class="btns search"><span class="btnsse"></span></div>
                </span>
    </div>
</div>