<div class="leftImg">
    <div class="{{iconType}}"><img style="display: none;" src="{{iconPath}}"></div><!--tmp4       tfile  texe   tmp3  twav  tdoc -->
</div>
<div class="rightTitle">
    <span class="fileName">{{title}}</span>
    <span class="fileTime">{{createDate}}</span>
</div>
