<div id="searchPanelRegion" class="slistTitles"></div><!--content title   compaseView-->
<div id="workspacePanelRegion" class="slistTitles"></div>
<div id="scrollWrapper" class="contentList">
    <div class="wrapper">
        <div class="itemHead"></div>
        <div id="pullDown" style="display: none;">
            <span class="pullDownIcon" style="display: none"></span><span class="pullDownLabel" style="display: none">下拉刷新...</span>
            <div id="sort-entity-name-asc" class="pullSortName">按名称排序</div>
            <div id="sort-create-time-des" class="pullSortTime">按时间排序</div>
        </div>
        <div id="searchResultRegion" style="width: 100%;"></div>
        <div id="pullUp">
            <span class="pullUpIcon"></span><span class="pullUpLabel">加载更多...</span>
        </div>
    </div>
</div>