<!--selected  区别在于selected  如果有则是选中  没有则是没有选中-->
    <div class="leftImg">
        <div class="{{iconType}}"></div>
    </div>
    <div class="rightTitle">
        <span class="fileName">{{title}}</span>
        <span class="fileTime">{{createDate}}</span>
    </div>
    <div class="rightSelect"></div>
