<div class="itemView selected"><!--selected  区别在于selected  如果有则是选中  没有则是没有选中-->
    <div class="leftImg">
        <div class="tmp4"></div>
    </div>
    <div class="rightTitle">
        <span class="fileName">12343</span>
        <span class="fileTime">2014-12-22 23:12</span>
    </div>
    <div class="rightSelect"></div>
</div>