<!--login 登录-->

    <div class="top-pic"></div>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <!--<label for="inputEmail3" class="col-xs-12 col-sm-12 control-label"></label>-->
            <div class="col-xs-12 col-sm-12">
                <input type="email" class="form-control" id="inputEmail3" placeholder="邮箱\用户名" value = "">
            </div>
        </div>
        <div class="form-group">
            <!--<label for="inputPassword3" class="col-xs-12 col-sm-12 control-label"></label>-->
            <div class="col-xs-12 col-sm-12">
                <input type="password" class="form-control" id="inputPassword3" placeholder="密码" value = "">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-0 col-xs-12 col-sm-12">
                <button class="btn btn-large btn-block btn-info " id="loginCloud" type="button">登录</button>
            </div>
        </div>
    </form>

