<header>
    <div id="narback" class="logo"></div>
    <span>设置</span>
</header>
<div class="set-content">
    <ul>
        <li><img class="img1" src="images/base/wifi.png" alt="" width="40" height="40"/><span>仅wifi环境上传或下载</span><img class="img2 conn" id='onOff' src="images/base/wifi_onoff.png" alt="" width="60" height="30"/></li>
        <li id="downloadPath"><img class="img1" src="images/base/mod_path.png" alt="" width="40" height="40"/><span>默认下载地址</span><img class="img2" src="images/base/next_detail.png" alt="" width="25" height="40"/></li>
        <li><img class="img1" src="images/base/about_mam.png" alt="" width="40" height="40"/><span>关于百灵</span><img class="img2" src="images/base/next_detail.png" alt="" width="25" height="40"/></li>
    </ul>
</div>