<div class="modal fade bs-example-modal-lg" id="classify-click-dialog" tabindex="-1" role="dialog" aria-labelledby="classifyclick-dialogLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg addFiles">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title glyphicon glyphicon-th-large"></span> 分类
            </div>
            <div class="modal-body">
                <div class="C_dialog ">
                    <div class="fix_dialog  row">
                        <div class="col-xs-4 col-md-4"><a class="video js-classify Clip"></a><p>音视频</p></div>
                        <div class="col-xs-4 col-md-4"><a class="audio js-classify Audio"></a><p>音频</p></div>
                        <div class="col-xs-4 col-md-4"><a class="img js-classify Picture"></a><p>图片</p></div>
                    </div>
                    <div class="fix_dialog row">
                        <div class="col-xs-4 col-md-4"><a class="doc js-classify Document"></a><p>文档</p></div>
                        <div class="col-xs-4 col-md-4"><a class="other js-classify Other"></a><p>其他</p></div>
                        <div class="col-xs-4 col-md-4"><a class="all js-classify "></a><p>所有内容</p></div>
                    </div>
                    <div class="fix_dialog  row">

                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->