<div class="modal fade bs-example-modal-lg" id="add-click-dialog" tabindex="-1" role="dialog" aria-labelledby="addclick-dialogLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg addFiles">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title glyphicon glyphicon-plus"></span> 添加新文件
            </div>
            <div class="modal-body">
                <div class="C_dialog ">
                    <div class="fix_dialog  row">
                        <div class="col-xs-4 col-md-4 js-add-img"><a class="img "></a><p>图片</p></div>
                        <div class="col-xs-4 col-md-4 js-add-video"><a class="video "></a><p>视频</p></div>
                        <div class="col-xs-4 col-md-4 js-add-pic"><a class="pic "></a><p>拍照</p></div>
                        <div class="col-xs-4 col-md-4 js-add-cvideo"><a class="cvideo "></a><p>拍视频</p></div>
                        <div class="col-xs-4 col-md-4 js-add-folder"><a class="folder "></a><p>文件夹</p></div>
                    </div>
                    <!--<div class="fix_dialog  row"></div>-->
                    <!--<div class="fix_dialog  row">-->
                        <!--<div class="col-xs-4 col-md-4 js-add-other"><a class="other "></a><p>其他</p></div>-->
                        <!--<div class="col-xs-4 col-md-4 js-add-all"><a class="all "></a><p>所有内容</p></div>-->
                    <!--</div>-->
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->