<div id="panelRegion" class="listTitles move_list_back">
    <div id="goback" class="nar_back_top"></div>
    <div class="title_back">返回上一级</div>
</div>
<div id="scrollWrapper" class="contentList">
    <div class="wrapper">
        <div id="pullDown" style="display: none;">
            <span class="pullDownIcon" style="display: none"></span><span class="pullDownLabel" style="display: none">下拉刷新...</span>
            <div id="sort-entity-name-asc" class="pullSortName">按名称排序</div>
            <div id="sort-create-time-des" class="pullSortTime">按时间排序</div>
        </div>
        <div id="listCRegions" style="width: 100%;"></div>
        <div id="pullUp">
            <span class="pullUpIcon"></span><span class="pullUpLabel">加载更多...</span>
        </div>
    </div>
</div>